In [3]:
# Create simple data with missing values
import numpy as np 
import pandas as pd
df = pd.DataFrame([[23,np.nan,3],[12,np.nan,9],[3,7,1]])
print(df)
# We need to remove the NA values form the DataFrame

    0    1  2
0  23  NaN  3
1  12  NaN  9
2   3  7.0  1

In [4]:
# Identificate wich ones are the missing values 
print(df.isnull())

       0      1      2
0  False   True  False
1  False   True  False
2  False  False  False

In [5]:
# Drop NA values, all cells containing NA values will dropping 
print(df.dropna())

   0    1  2
2  3  7.0  1

In [6]:
# Drop colums where cells have NAs
print(df.dropna(axis=1))

    0  2
0  23  3
1  12  9
2   3  1

In [8]:
print(df.dropna(axis=1,how="all"))
# Thresh parameter lets you specify a minimun number of NAs values for the row/column to be kept
print(df.dropna(thresh=2))

    0    1  2
0  23  NaN  3
1  12  NaN  9
2   3  7.0  1
    0    1  2
0  23  NaN  3
1  12  NaN  9
2   3  7.0  1

In [11]:
# Fill NAs entries with zero
print(df.fillna(0))

    0    1  2
0  23  0.0  3
1  12  0.0  9
2   3  7.0  1

In [12]:
# Specify a forward fill to propagate the previous value forward 
print(df.fillna(method="ffill"))

    0    1  2
0  23  NaN  3
1  12  NaN  9
2   3  7.0  1

In [13]:
# Fill forward colum wise
print(df.fillna(method="ffill",axis=1))

      0     1    2
0  23.0  23.0  3.0
1  12.0  12.0  9.0
2   3.0   7.0  1.0